FrontPrueba/Ftest/Ftest/Connected Services/PrestamoEjemplarWS/PrestamoEjemplarWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bibliows.biblioteca.syntaxerror.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PrestamoEjemplarWS" targetNamespace="http://bibliows.biblioteca.syntaxerror.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/myholywrapper-v2.1/PrestamoEjemplarWS?xsd=1" namespace="http://bibliows.biblioteca.syntaxerror.com/" />
    </xsd:schema>
  </types>
  <message name="listarPrestamosDevueltos">
    <part name="parameters" element="tns:listarPrestamosDevueltos" />
  </message>
  <message name="listarPrestamosDevueltosResponse">
    <part name="parameters" element="tns:listarPrestamosDevueltosResponse" />
  </message>
  <message name="insertarPrestamoEjemplar">
    <part name="parameters" element="tns:insertarPrestamoEjemplar" />
  </message>
  <message name="insertarPrestamoEjemplarResponse">
    <part name="parameters" element="tns:insertarPrestamoEjemplarResponse" />
  </message>
  <message name="eliminarPrestamoEjemplar">
    <part name="parameters" element="tns:eliminarPrestamoEjemplar" />
  </message>
  <message name="eliminarPrestamoEjemplarResponse">
    <part name="parameters" element="tns:eliminarPrestamoEjemplarResponse" />
  </message>
  <message name="listarPrestamosSolicitados">
    <part name="parameters" element="tns:listarPrestamosSolicitados" />
  </message>
  <message name="listarPrestamosSolicitadosResponse">
    <part name="parameters" element="tns:listarPrestamosSolicitadosResponse" />
  </message>
  <message name="listarPrestamosAtrasados">
    <part name="parameters" element="tns:listarPrestamosAtrasados" />
  </message>
  <message name="listarPrestamosAtrasadosResponse">
    <part name="parameters" element="tns:listarPrestamosAtrasadosResponse" />
  </message>
  <message name="modificarPrestamoEjemplar">
    <part name="parameters" element="tns:modificarPrestamoEjemplar" />
  </message>
  <message name="modificarPrestamoEjemplarResponse">
    <part name="parameters" element="tns:modificarPrestamoEjemplarResponse" />
  </message>
  <message name="listarPrestamosNoCulminados">
    <part name="parameters" element="tns:listarPrestamosNoCulminados" />
  </message>
  <message name="listarPrestamosNoCulminadosResponse">
    <part name="parameters" element="tns:listarPrestamosNoCulminadosResponse" />
  </message>
  <message name="listarTodosPrestamoEjemplar">
    <part name="parameters" element="tns:listarTodosPrestamoEjemplar" />
  </message>
  <message name="listarTodosPrestamoEjemplarResponse">
    <part name="parameters" element="tns:listarTodosPrestamoEjemplarResponse" />
  </message>
  <message name="obtenerPrestamoEjemplar">
    <part name="parameters" element="tns:obtenerPrestamoEjemplar" />
  </message>
  <message name="obtenerPrestamoEjemplarResponse">
    <part name="parameters" element="tns:obtenerPrestamoEjemplarResponse" />
  </message>
  <portType name="PrestamoEjemplarWS">
    <operation name="listarPrestamosDevueltos">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoEjemplarWS/listarPrestamosDevueltosRequest" message="tns:listarPrestamosDevueltos" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoEjemplarWS/listarPrestamosDevueltosResponse" message="tns:listarPrestamosDevueltosResponse" />
    </operation>
    <operation name="insertarPrestamoEjemplar">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoEjemplarWS/insertarPrestamoEjemplarRequest" message="tns:insertarPrestamoEjemplar" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoEjemplarWS/insertarPrestamoEjemplarResponse" message="tns:insertarPrestamoEjemplarResponse" />
    </operation>
    <operation name="eliminarPrestamoEjemplar">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoEjemplarWS/eliminarPrestamoEjemplarRequest" message="tns:eliminarPrestamoEjemplar" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoEjemplarWS/eliminarPrestamoEjemplarResponse" message="tns:eliminarPrestamoEjemplarResponse" />
    </operation>
    <operation name="listarPrestamosSolicitados">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoEjemplarWS/listarPrestamosSolicitadosRequest" message="tns:listarPrestamosSolicitados" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoEjemplarWS/listarPrestamosSolicitadosResponse" message="tns:listarPrestamosSolicitadosResponse" />
    </operation>
    <operation name="listarPrestamosAtrasados">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoEjemplarWS/listarPrestamosAtrasadosRequest" message="tns:listarPrestamosAtrasados" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoEjemplarWS/listarPrestamosAtrasadosResponse" message="tns:listarPrestamosAtrasadosResponse" />
    </operation>
    <operation name="modificarPrestamoEjemplar">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoEjemplarWS/modificarPrestamoEjemplarRequest" message="tns:modificarPrestamoEjemplar" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoEjemplarWS/modificarPrestamoEjemplarResponse" message="tns:modificarPrestamoEjemplarResponse" />
    </operation>
    <operation name="listarPrestamosNoCulminados">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoEjemplarWS/listarPrestamosNoCulminadosRequest" message="tns:listarPrestamosNoCulminados" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoEjemplarWS/listarPrestamosNoCulminadosResponse" message="tns:listarPrestamosNoCulminadosResponse" />
    </operation>
    <operation name="listarTodosPrestamoEjemplar">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoEjemplarWS/listarTodosPrestamoEjemplarRequest" message="tns:listarTodosPrestamoEjemplar" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoEjemplarWS/listarTodosPrestamoEjemplarResponse" message="tns:listarTodosPrestamoEjemplarResponse" />
    </operation>
    <operation name="obtenerPrestamoEjemplar">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoEjemplarWS/obtenerPrestamoEjemplarRequest" message="tns:obtenerPrestamoEjemplar" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoEjemplarWS/obtenerPrestamoEjemplarResponse" message="tns:obtenerPrestamoEjemplarResponse" />
    </operation>
  </portType>
  <binding name="PrestamoEjemplarWSPortBinding" type="tns:PrestamoEjemplarWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarPrestamosDevueltos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPrestamoEjemplar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPrestamoEjemplar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPrestamosSolicitados">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPrestamosAtrasados">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPrestamoEjemplar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPrestamosNoCulminados">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosPrestamoEjemplar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPrestamoEjemplar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PrestamoEjemplarWS">
    <port name="PrestamoEjemplarWSPort" binding="tns:PrestamoEjemplarWSPortBinding">
      <soap:address location="http://localhost:8080/myholywrapper-v2.1/PrestamoEjemplarWS" />
    </port>
  </service>
</definitions>