FrontPrueba/Ftest/Ftest/Connected Services/TemaWS/TemaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bibliows.biblioteca.syntaxerror.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TemaWS" targetNamespace="http://bibliows.biblioteca.syntaxerror.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/myholywrapper-v2.1/TemaWS?xsd=1" namespace="http://bibliows.biblioteca.syntaxerror.com/" />
    </xsd:schema>
  </types>
  <message name="modificarTema">
    <part name="parameters" element="tns:modificarTema" />
  </message>
  <message name="modificarTemaResponse">
    <part name="parameters" element="tns:modificarTemaResponse" />
  </message>
  <message name="eliminarTema">
    <part name="parameters" element="tns:eliminarTema" />
  </message>
  <message name="eliminarTemaResponse">
    <part name="parameters" element="tns:eliminarTemaResponse" />
  </message>
  <message name="obtenerTemaPorId">
    <part name="parameters" element="tns:obtenerTemaPorId" />
  </message>
  <message name="obtenerTemaPorIdResponse">
    <part name="parameters" element="tns:obtenerTemaPorIdResponse" />
  </message>
  <message name="listarTemas">
    <part name="parameters" element="tns:listarTemas" />
  </message>
  <message name="listarTemasResponse">
    <part name="parameters" element="tns:listarTemasResponse" />
  </message>
  <message name="insertarTema">
    <part name="parameters" element="tns:insertarTema" />
  </message>
  <message name="insertarTemaResponse">
    <part name="parameters" element="tns:insertarTemaResponse" />
  </message>
  <portType name="TemaWS">
    <operation name="modificarTema">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/TemaWS/modificarTemaRequest" message="tns:modificarTema" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/TemaWS/modificarTemaResponse" message="tns:modificarTemaResponse" />
    </operation>
    <operation name="eliminarTema">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/TemaWS/eliminarTemaRequest" message="tns:eliminarTema" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/TemaWS/eliminarTemaResponse" message="tns:eliminarTemaResponse" />
    </operation>
    <operation name="obtenerTemaPorId">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/TemaWS/obtenerTemaPorIdRequest" message="tns:obtenerTemaPorId" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/TemaWS/obtenerTemaPorIdResponse" message="tns:obtenerTemaPorIdResponse" />
    </operation>
    <operation name="listarTemas">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/TemaWS/listarTemasRequest" message="tns:listarTemas" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/TemaWS/listarTemasResponse" message="tns:listarTemasResponse" />
    </operation>
    <operation name="insertarTema">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/TemaWS/insertarTemaRequest" message="tns:insertarTema" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/TemaWS/insertarTemaResponse" message="tns:insertarTemaResponse" />
    </operation>
  </portType>
  <binding name="TemaWSPortBinding" type="tns:TemaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarTema">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarTema">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerTemaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTemas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarTema">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TemaWS">
    <port name="TemaWSPort" binding="tns:TemaWSPortBinding">
      <soap:address location="http://localhost:8080/myholywrapper-v2.1/TemaWS" />
    </port>
  </service>
</definitions>