FrontPrueba/Ftest/Ftest/Connected Services/PrestamoWS/PrestamoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bibliows.biblioteca.syntaxerror.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PrestamoWS" targetNamespace="http://bibliows.biblioteca.syntaxerror.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/myholywrapper-v2.1/PrestamoWS?xsd=1" namespace="http://bibliows.biblioteca.syntaxerror.com/" />
    </xsd:schema>
  </types>
  <message name="listarEjemplaresPrestadosPorPersona">
    <part name="parameters" element="tns:listarEjemplaresPrestadosPorPersona" />
  </message>
  <message name="listarEjemplaresPrestadosPorPersonaResponse">
    <part name="parameters" element="tns:listarEjemplaresPrestadosPorPersonaResponse" />
  </message>
  <message name="listarEjemplaresSolicitadosPorPersona">
    <part name="parameters" element="tns:listarEjemplaresSolicitadosPorPersona" />
  </message>
  <message name="listarEjemplaresSolicitadosPorPersonaResponse">
    <part name="parameters" element="tns:listarEjemplaresSolicitadosPorPersonaResponse" />
  </message>
  <message name="listarPrestamosSolicitadosPorPersona">
    <part name="parameters" element="tns:listarPrestamosSolicitadosPorPersona" />
  </message>
  <message name="listarPrestamosSolicitadosPorPersonaResponse">
    <part name="parameters" element="tns:listarPrestamosSolicitadosPorPersonaResponse" />
  </message>
  <message name="contarPrestamosAtrasados">
    <part name="parameters" element="tns:contarPrestamosAtrasados" />
  </message>
  <message name="contarPrestamosAtrasadosResponse">
    <part name="parameters" element="tns:contarPrestamosAtrasadosResponse" />
  </message>
  <message name="listarPrestamosDevueltos">
    <part name="parameters" element="tns:listarPrestamosDevueltos" />
  </message>
  <message name="listarPrestamosDevueltosResponse">
    <part name="parameters" element="tns:listarPrestamosDevueltosResponse" />
  </message>
  <message name="contarPrestamosPorMaterial">
    <part name="parameters" element="tns:contarPrestamosPorMaterial" />
  </message>
  <message name="contarPrestamosPorMaterialResponse">
    <part name="parameters" element="tns:contarPrestamosPorMaterialResponse" />
  </message>
  <message name="listarPrestamosPorPersona">
    <part name="parameters" element="tns:listarPrestamosPorPersona" />
  </message>
  <message name="listarPrestamosPorPersonaResponse">
    <part name="parameters" element="tns:listarPrestamosPorPersonaResponse" />
  </message>
  <message name="contarPrestamosActivos">
    <part name="parameters" element="tns:contarPrestamosActivos" />
  </message>
  <message name="contarPrestamosActivosResponse">
    <part name="parameters" element="tns:contarPrestamosActivosResponse" />
  </message>
  <message name="listarPrestamosSolicitados">
    <part name="parameters" element="tns:listarPrestamosSolicitados" />
  </message>
  <message name="listarPrestamosSolicitadosResponse">
    <part name="parameters" element="tns:listarPrestamosSolicitadosResponse" />
  </message>
  <message name="listarPrestamosAtrasados">
    <part name="parameters" element="tns:listarPrestamosAtrasados" />
  </message>
  <message name="listarPrestamosAtrasadosResponse">
    <part name="parameters" element="tns:listarPrestamosAtrasadosResponse" />
  </message>
  <message name="eliminarPrestamo">
    <part name="parameters" element="tns:eliminarPrestamo" />
  </message>
  <message name="eliminarPrestamoResponse">
    <part name="parameters" element="tns:eliminarPrestamoResponse" />
  </message>
  <message name="solicitarPrestamo">
    <part name="parameters" element="tns:solicitarPrestamo" />
  </message>
  <message name="solicitarPrestamoResponse">
    <part name="parameters" element="tns:solicitarPrestamoResponse" />
  </message>
  <message name="modificarPrestamo">
    <part name="parameters" element="tns:modificarPrestamo" />
  </message>
  <message name="modificarPrestamoResponse">
    <part name="parameters" element="tns:modificarPrestamoResponse" />
  </message>
  <message name="obtenerPrestamo">
    <part name="parameters" element="tns:obtenerPrestamo" />
  </message>
  <message name="obtenerPrestamoResponse">
    <part name="parameters" element="tns:obtenerPrestamoResponse" />
  </message>
  <message name="insertarPrestamo">
    <part name="parameters" element="tns:insertarPrestamo" />
  </message>
  <message name="insertarPrestamoResponse">
    <part name="parameters" element="tns:insertarPrestamoResponse" />
  </message>
  <message name="listarPrestamos">
    <part name="parameters" element="tns:listarPrestamos" />
  </message>
  <message name="listarPrestamosResponse">
    <part name="parameters" element="tns:listarPrestamosResponse" />
  </message>
  <message name="listarPrestamosDevueltosPorPersona">
    <part name="parameters" element="tns:listarPrestamosDevueltosPorPersona" />
  </message>
  <message name="listarPrestamosDevueltosPorPersonaResponse">
    <part name="parameters" element="tns:listarPrestamosDevueltosPorPersonaResponse" />
  </message>
  <message name="listarPrestamosActivosPorPersona">
    <part name="parameters" element="tns:listarPrestamosActivosPorPersona" />
  </message>
  <message name="listarPrestamosActivosPorPersonaResponse">
    <part name="parameters" element="tns:listarPrestamosActivosPorPersonaResponse" />
  </message>
  <message name="listarPrestamosAtrasadosPorPersona">
    <part name="parameters" element="tns:listarPrestamosAtrasadosPorPersona" />
  </message>
  <message name="listarPrestamosAtrasadosPorPersonaResponse">
    <part name="parameters" element="tns:listarPrestamosAtrasadosPorPersonaResponse" />
  </message>
  <message name="listarPrestamosNoCulminados">
    <part name="parameters" element="tns:listarPrestamosNoCulminados" />
  </message>
  <message name="listarPrestamosNoCulminadosResponse">
    <part name="parameters" element="tns:listarPrestamosNoCulminadosResponse" />
  </message>
  <portType name="PrestamoWS">
    <operation name="listarEjemplaresPrestadosPorPersona">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarEjemplaresPrestadosPorPersonaRequest" message="tns:listarEjemplaresPrestadosPorPersona" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarEjemplaresPrestadosPorPersonaResponse" message="tns:listarEjemplaresPrestadosPorPersonaResponse" />
    </operation>
    <operation name="listarEjemplaresSolicitadosPorPersona">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarEjemplaresSolicitadosPorPersonaRequest" message="tns:listarEjemplaresSolicitadosPorPersona" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarEjemplaresSolicitadosPorPersonaResponse" message="tns:listarEjemplaresSolicitadosPorPersonaResponse" />
    </operation>
    <operation name="listarPrestamosSolicitadosPorPersona">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosSolicitadosPorPersonaRequest" message="tns:listarPrestamosSolicitadosPorPersona" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosSolicitadosPorPersonaResponse" message="tns:listarPrestamosSolicitadosPorPersonaResponse" />
    </operation>
    <operation name="contarPrestamosAtrasados">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/contarPrestamosAtrasadosRequest" message="tns:contarPrestamosAtrasados" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/contarPrestamosAtrasadosResponse" message="tns:contarPrestamosAtrasadosResponse" />
    </operation>
    <operation name="listarPrestamosDevueltos">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosDevueltosRequest" message="tns:listarPrestamosDevueltos" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosDevueltosResponse" message="tns:listarPrestamosDevueltosResponse" />
    </operation>
    <operation name="contarPrestamosPorMaterial">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/contarPrestamosPorMaterialRequest" message="tns:contarPrestamosPorMaterial" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/contarPrestamosPorMaterialResponse" message="tns:contarPrestamosPorMaterialResponse" />
    </operation>
    <operation name="listarPrestamosPorPersona">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosPorPersonaRequest" message="tns:listarPrestamosPorPersona" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosPorPersonaResponse" message="tns:listarPrestamosPorPersonaResponse" />
    </operation>
    <operation name="contarPrestamosActivos">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/contarPrestamosActivosRequest" message="tns:contarPrestamosActivos" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/contarPrestamosActivosResponse" message="tns:contarPrestamosActivosResponse" />
    </operation>
    <operation name="listarPrestamosSolicitados">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosSolicitadosRequest" message="tns:listarPrestamosSolicitados" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosSolicitadosResponse" message="tns:listarPrestamosSolicitadosResponse" />
    </operation>
    <operation name="listarPrestamosAtrasados">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosAtrasadosRequest" message="tns:listarPrestamosAtrasados" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosAtrasadosResponse" message="tns:listarPrestamosAtrasadosResponse" />
    </operation>
    <operation name="eliminarPrestamo">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/eliminarPrestamoRequest" message="tns:eliminarPrestamo" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/eliminarPrestamoResponse" message="tns:eliminarPrestamoResponse" />
    </operation>
    <operation name="solicitarPrestamo">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/solicitarPrestamoRequest" message="tns:solicitarPrestamo" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/solicitarPrestamoResponse" message="tns:solicitarPrestamoResponse" />
    </operation>
    <operation name="modificarPrestamo">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/modificarPrestamoRequest" message="tns:modificarPrestamo" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/modificarPrestamoResponse" message="tns:modificarPrestamoResponse" />
    </operation>
    <operation name="obtenerPrestamo">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/obtenerPrestamoRequest" message="tns:obtenerPrestamo" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/obtenerPrestamoResponse" message="tns:obtenerPrestamoResponse" />
    </operation>
    <operation name="insertarPrestamo">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/insertarPrestamoRequest" message="tns:insertarPrestamo" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/insertarPrestamoResponse" message="tns:insertarPrestamoResponse" />
    </operation>
    <operation name="listarPrestamos">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosRequest" message="tns:listarPrestamos" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosResponse" message="tns:listarPrestamosResponse" />
    </operation>
    <operation name="listarPrestamosDevueltosPorPersona">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosDevueltosPorPersonaRequest" message="tns:listarPrestamosDevueltosPorPersona" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosDevueltosPorPersonaResponse" message="tns:listarPrestamosDevueltosPorPersonaResponse" />
    </operation>
    <operation name="listarPrestamosActivosPorPersona">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosActivosPorPersonaRequest" message="tns:listarPrestamosActivosPorPersona" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosActivosPorPersonaResponse" message="tns:listarPrestamosActivosPorPersonaResponse" />
    </operation>
    <operation name="listarPrestamosAtrasadosPorPersona">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosAtrasadosPorPersonaRequest" message="tns:listarPrestamosAtrasadosPorPersona" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosAtrasadosPorPersonaResponse" message="tns:listarPrestamosAtrasadosPorPersonaResponse" />
    </operation>
    <operation name="listarPrestamosNoCulminados">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosNoCulminadosRequest" message="tns:listarPrestamosNoCulminados" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/PrestamoWS/listarPrestamosNoCulminadosResponse" message="tns:listarPrestamosNoCulminadosResponse" />
    </operation>
  </portType>
  <binding name="PrestamoWSPortBinding" type="tns:PrestamoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarEjemplaresPrestadosPorPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEjemplaresSolicitadosPorPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPrestamosSolicitadosPorPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="contarPrestamosAtrasados">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPrestamosDevueltos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="contarPrestamosPorMaterial">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPrestamosPorPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="contarPrestamosActivos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPrestamosSolicitados">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPrestamosAtrasados">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPrestamo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="solicitarPrestamo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPrestamo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPrestamo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPrestamo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPrestamos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPrestamosDevueltosPorPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPrestamosActivosPorPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPrestamosAtrasadosPorPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPrestamosNoCulminados">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PrestamoWS">
    <port name="PrestamoWSPort" binding="tns:PrestamoWSPortBinding">
      <soap:address location="http://localhost:8080/myholywrapper-v2.1/PrestamoWS" />
    </port>
  </service>
</definitions>